<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
        <style>
            .datatable {
                position: relative;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                color: rgb(96, 98, 102);
                overflow: hidden;
                flex: 1 1 0%;
            }
            .datatable td, .datatable th {
                padding: 12px 0;
                min-width: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                position: relative;
                text-align: left;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>预约管理<small>检查组管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>预约管理</el-breadcrumb-item>
                    <el-breadcrumb-item>检查组管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="编码/名称/助记码" v-model="pagination.queryString" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="code" label="检查组编码" align="center"></el-table-column>
                        <el-table-column prop="name" label="检查组名称" align="center"></el-table-column>
                        <el-table-column label="适用性别" align="center">
                            <template slot-scope="scope">
                                <span>{{ scope.row.sex == '0' ? '不限' : scope.row.sex == '1' ? '男' : '女'}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="helpCode" label="助记码" align="center"></el-table-column>
                        <el-table-column prop="remark" label="说明" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增检查组" :visible.sync="dialogFormVisible">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="基本信息" name="first">
                                        <el-form label-position="right" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="编码">
                                                        <el-input v-model="formData.code"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="名称">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="适用性别">
                                                        <el-select v-model="formData.sex">
                                                            <el-option label="不限" value="0"></el-option>
                                                            <el-option label="男" value="1"></el-option>
                                                            <el-option label="女" value="2"></el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="助记码">
                                                        <el-input v-model="formData.helpCode"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="说明">
                                                        <el-input v-model="formData.remark" type="textarea"></el-input>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="注意事项">
                                                        <el-input v-model="formData.attention" type="textarea"></el-input>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="检查项信息" name="second">
									<div class="checkScrol">
                                        <table class="datatable">
                                            <thead>
                                            <tr>
                                                <th>选择</th>
                                                <th>项目编码</th>
                                                <th>项目名称</th>
                                                <th>项目说明</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="c in tableData">
                                                <td>
                                                    <input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
                                                </td>
                                                <td><label :for="c.id">{{c.code}}</label></td>
                                                <td><label :for="c.id">{{c.name}}</label></td>
                                                <td><label :for="c.id">{{c.remark}}</label></td>
                                            </tr>
                                            </tbody>
                                        </table>
									</div>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑检查组" :visible.sync="dialogFormVisible4Edit">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="基本信息" name="first">
                                        <el-form label-position="right" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="编码">
                                                        <el-input v-model="formData.code"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="名称">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="适用性别">
                                                        <el-select v-model="formData.sex">
                                                            <el-option label="不限" value="0"></el-option>
                                                            <el-option label="男" value="1"></el-option>
                                                            <el-option label="女" value="2"></el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="助记码">
                                                        <el-input v-model="formData.helpCode"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="说明">
                                                        <el-input v-model="formData.remark" type="textarea"></el-input>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="注意事项">
                                                        <el-input v-model="formData.attention" type="textarea"></el-input>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="检查项信息" name="second">
										<div class="checkScrol">
											<table class="datatable">
												<thead>
													<tr>
														<th>选择</th>
														<th>项目编码</th>
														<th>项目名称</th>
														<th>项目说明</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="c in tableData">
														<td>
															<input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
														</td>
														<td><label :for="c.id">{{c.code}}</label></td>
														<td><label :for="c.id">{{c.name}}</label></td>
														<td><label :for="c.id">{{c.remark}}</label></td>
													</tr>
												</tbody>
											</table>
										</div>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                activeName:'first',//添加/编辑窗口Tab标签名称
                pagination: {//分页相关属性
                    currentPage: 1,
                    pageSize:10,
                    total:100,
                    queryString:null,
                },
                dataList: [],//列表数据
                formData: {},//表单数据
                tableData:[],//新增和编辑表单中对应的检查项列表数据
                checkitemIds:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交，
                                // 它代表选中的检查项id
                dialogFormVisible: false,//控制添加窗口显示/隐藏
                dialogFormVisible4Edit:false//控制编辑窗口显示/隐藏
            },
            created() {
                this.findPage();
            },
            methods: {
                //这个是检查组的【编辑】按钮绑定的方法，回显修改，修改之后的提交
                handleEdit() {
                    //打开编辑按钮，和添加差不多
                    //修改检查组的提交
                    axios.post('/checkgroup/update.do?checkitemIds='+this.checkitemIds,this.formData).then(res=>{
                        this.$message({
                            message:res.data.message,
                            type:res.data.flag?"success":"error"
                        });
                        //如果成功
                        if(res.data.flag=="success"){
                            //如果成功 则关闭编辑窗口
                            this.dialogFormVisible4Edit=false;
                            //刷新列表数据引用findPage方法来实现刷新列表功能
                            this.findPage();
                        }
                    })
                },

                //添加（新增的添加窗口的代码）
                handleAdd () {
                    //这个是新建添加窗口 的【确定】按钮绑定的方法
                    //使用post请求时不仅可以选择响应的方法名，还可以提交其他数据
                    //可以在  **.do 后面进行？加数据传输拼接方式传输数据
                    //添加检查组确定按钮的提交
                    axios.post('/checkgroup/add.do?checkitemIds='+this.checkitemIds,this.formData).then(res=>{
                        this.$message({
                            message:res.data.message,
                            type:res.data.flag?"success":"error"
                        });
                        if(res.data.flge){
                            //如果成功则  关闭新增窗口
                            this.dialogFormVisible=false;
                            //刷新列表数据   引用findPage方法来实现刷新列表功能
                            this.findPage();
                        }
                    })
                },
                //分页查询
                findPage() {
                    /*
                    findPage()这是检查组的分页查询方法
                    %其中pagination是分页相关属性
                    % .post('/checkgroup/findPage.do',this.pagination)这个是使用异步post请求，不用get请求
                      因为post请求时可以传送参数 比如：pagination
                    % .then( )是异步请求获取反馈响应之后  括号是响应之后要执行的操作
                    */
                    axios.post('/checkgroup/findPage.do',this.pagination).then(res=>{
                        if(res.data.flag){
                            //到这里表示 分页成功， 成功则绑定分页数据
                            //res.data.data.rows是分页数据集合，其中返回的数据集合是Result 这里res.data是Result
                            //Result包含三个数据flag，massage，data（flag：[false 或true],message:["失败或成功"]，和数据集data:[total：总条数， rows：分页数据集合]）
                            this.dataList=res.data.data.rows;
                            //总记录数
                            this.pagination.total=res.data.data.total;
                        }else {
                            //失败 则提示失败
                            this.$message.error(res.data.message);
                        }
                    })
                },
                // 重置表单
                resetForm() {
                    //formData: {},//表单数据
                    //使formData 为空数组就行 使={ }
                    this.formData={};
                    // tableData:[]  这个是新增和编辑表单中对应的检查项列表数据，使它味为空
                    this.tableData=[];  //检查项列表数据请空
                    this.checkitemIds=[];// 清空选中的基本信息
                    this.activeName='first';// 选中基本信息 activeName='first'表示选中基本信息 页面，
                                            // activeName='second'表示选中检查项信息 页面
                },
                // 弹出添加窗口
                handleCreate() {
                    //重置表单，引用重置表单方法
                  this.resetForm();
                  //弹出新增窗口，使dialogFormVisible=true
                    this.dialogFormVisible=true;
                    //在加载检查项列表数据
                    axios.get('/checkitem/findAll.do').then(res=>{
                        //在成功的情况下进行绑定检查项列表
                        if(res.data.flag){
                          //绑定检查项列表
                            this.tableData=res.data.data;
                        }else{
                            //失败 错误时提示信息
                            this.$message.error(res.data.message);
                        }
                    })
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    //1.重置表单
                    this.resetForm();
                    //2.弹出编辑窗口(dialogFormVisible4Edit=true)
                    //this ： 代表vue对象
                    this.dialogFormVisible4Edit=true;
                    //3.通过id查询检查组信息,并且把数据绑定到formData 表单
                    var id=row.id;//拿到 选中的检查组的id
                    axios.get('/checkgroup/findById.do?id=' + id).then(res=>{
                        if(res.data.flag){
                            this.formData=res.data.data;
                            //构建查询项了列表，查询所有的检查项，绑定到检查项列表数据集tableData
                            //写在这里是 不写成方法然后调用，是因为如果上面没有查到检查组就没必要查 检查项列表
                            axios.get('/checkitem/findAll.do').then(res1=>{//res冲突的改为res1
                                //在成功的情况下进行绑定检查项列表
                                if(res1.data.flag){
                                    //绑定检查项列表
                                    this.tableData=res1.data.data;

                                    axios.get('/checkgroup/findCheckItemIdsByCheckGroupId.do?id='+id).then(res2=>{
                                        //回显检查项
                                        //当成功绑定 检查项列表之后才能显示  勾选的选项，因此要在查询出来所有的检查项列表之后
                                        //在查询  勾选中的id，并回显钩选中的检查项，发送请求，
                                        // 通过检查组id来查询选中的检查项id，绑定到checkitemIds
                                        if(res2.data.flag){
                                            this.checkitemIds=res2.data.data;
                                        }else{
                                            this.$message.error(res2.data.message);
                                        }
                                    })
                                }else{
                                    //失败 错误时提示信息
                                    this.$message.error(res1.data.message);
                                }
                            })
                        }else {
                            this.message.error(res.data.message);
                        }
                    })
                },
                //切换页码
                handleCurrentChange(currentPage) {
                // 形参currentPage是传进来的页码数
                // 实现切换页码功能
                    this.pagination.currentPage=currentPage;
                //切换页码之后 再次执行分页查询
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                }
            }
        })
    </script>
</html>
